[2019-09-10 14:16] sunflowerABB opened #1 "Some questions"
Very interesting project, thanks for sharing your work!
A few questions:
1. could I use your code with a home assistant instance running remotely on another server? What would have to be changed for the sensor values to be forwarded to the remote server? I noticed you defined the sensors in the ORP.yaml file:

`- platform: atlas_scientific
   port: /dev/ttyUSB0
   offset: 78
   scan_interval: 3153

[2019-09-11 11:14] segalion commented on #1
1. Runnig HA remotely could be possible, but makes things more complicated, and less reliable. You allways need a RPI to connect sensors to GPIOs, and UARTs, (remote GPIO and/or something to extend UART over TCP...)
2. I was thinking in use tentacle board too. Maybe in the future I could buy one and develope a version for I2C protocol for the custom component.
3. Yes... thats one of the first thin

[2019-09-27 11:15] MimbaMonkeyHouse commented on #1
@sunflowerABB, you could always have this running in one Home Assistant instance and use the mqqtt publish service to forward sensor data and even switches to another instance on a different computer...

[2019-09-27 13:01] sunflowerABB opened #2 "'AtlasSensor' object has no attribute 'ser'"
Installed on a fresh hass.io image on Raspi3:

`Exception` ignored in: <function AtlasSensor.__del__ at 0x71ae9d20>
Traceback (most recent call last):
  File "/config/custom_components/atlas_scientific/sensor.py", line 118, in __del__
    self.ser.close()
AttributeError: 'AtlasSensor' object has no attribute 'ser'`

EDIT: works after manually restarting hass.io via the command line. Not sure why i

[2019-09-30 08:34] segalion commented on #2
Thanks @sunflowerABB
I think your report is about the first time you install the custom component. I think its a general problem with all components that needs libraries not installed (in this case  the  "requirements": ["pyserial"] in manifest). Home Assistant install proper needed libraries (with pip on same enviroment where it is running), but the first time it starts the component before the l

[2019-10-02 09:51] andyyyy2306 opened #3 "Help for Install"
Hi, i try to install your Software on an Rpi and this is what i get
![grafik](https://user-images.githubusercontent.com/46449594/66035129-e0797280-e50a-11e9-9255-eae7be0e9c8f.png)
could you help me pls ?

[2019-10-03 10:29] segalion commented on #3
Sorry for the delay.
Seems that there are a problem with your lovelace config. Lovelace defines the frontend (how the information is distributed in the web access)
Has you copied the 'ui-lovelace.yaml' in the base config directory (same where 'configuration.yaml' is placed)?
Has the option
[code]
inside the 'configuration.yaml' file?

[2019-10-04 08:25] andyyyy2306 commented on #3
Hi, thanks for your answer. That works !!
I am new in Home Assistent. work for yaers with Domoticz.
So i try translate to german. It´s right to set the names in each .yaml file ?

[2019-10-07 12:13] segalion commented on #3
Thanks @andyyyy2306
I am pleased to hear someone trying to implement raspipool.

There is no simple way to handle multiple languages ​​in HA outside the inner components. But I recommend to not change the yaml files, in order to make new updates can work easily. Please, use change the "friendly name" from the web, for each entity, and all traslation will be stored in a json file in /home/homeassis

[2019-10-07 13:11] andyyyy2306 commented on #3
HI @segalion ,
thanks for your help !!

thats my Problem, the register is emty ..
should there listed all entity´s you use in your automations ?

![grafik](https://user-images.githubusercontent.com/46449594/66314573-8b779b00-e914-11e9-8562-8ea0a606eca2.png)

[2019-10-09 11:25] segalion commented on #3
@andyyyy2306
Sorry about that... Seems that with 'ui-lovelace.yaml' cannot change friendly-name from gui.
Home assistant is making a lot of changes between yaml mode and json (more automatic) mode...

Please, in order to traslate, could you try to change the 'ui-lovelace.yaml' "name" parameters?
At least you change only one file.

[2019-11-03 00:29] metropt opened #4 "Fluids dynamics"
How did you design the bypass Tube dimensions? I suppose you need to guarantee some pressure between the main pumping system and the bypass, is that right?

Thank you

[2019-11-08 13:48] segalion commented on #4
I dont understand your question. The bypass is carefully designed to:

1. get a consistent flow (high enough) It is garanted because it is in recirculating mode, so a little part the main returning flow (from filter) is going to be reabsorbed by the pump, to by-pass, and go again to the filter.
2. get an adecuate flow (low enough). It is garanted by the 20D pipes instead 50 or 65D main
3. the wate

[2019-12-01 16:59] justinladwig opened #5 "Questions"
Hi, I have a few questions.
1) How do I connect the paristaltic pumps and
2) which specifications should these pumps have.
3) Does this project also work with Raspberry Pi Zero W?

Thank you for this nice project.
Justin

[2019-12-10 22:16] ghost commented on #4
It would be nice to include those rationale on the wiki.
I was about to question the design after reading the https://github.com/segalion/raspipool/wiki/Bypass-for-sensors
 but it is pretty clear with your explanation.
Thanks again for your work ! Amazing !

[2019-12-30 12:55] sralesurk commented on #3
Hi @segalion
You project looks great. i'm trying it out, since this would be great for my new pool.
I'm completely new to HA, have used Openhab before. I'm considering changing to HA and rapipool ;-)
I'm having a bit of problem getting things up and running (no sensor hardware yet)
The HA stops working on the RPI after i made the changes in your description.
I believe my problem is secrets.yaml (s

[2020-01-06 23:30] MimbaMonkeyHouse commented on #5
I also would love to know the answers for questions 1 & 2. @segalion can you please chime in.

For question 3: Nope, I would not recommend using a Pi Zero to host any Home Assistant instance. It is actually not recommended on the documentation for Home Assistant...

[2020-01-14 17:53] justinladwig commented on #5
Hello again,

could you tell me how you connect the second atlas scientific sensor to the Raspberry Pi? On the sensor connection shema you connect it to Pins 36 and 37, i.e. GPIO 16 and 26.
As far as I know, the Raspberry Pi should only have a UART on pins 8 and 10, i.e. GPIO 14 and GPIO 15, which the other sensor is already connected.

I hope you'll reply.
Justin

[2020-04-02 14:10] docsparks opened #6 "ec probe not working"
using an ezo usb board for ph, and another ezo usb board for ec, my rpi3 running hassio  shows both sensors in hardware but only “unknown” for ezo_conductivity.   not sure how to troubleshoot this but the usb ezo and ec probe work fine with windows.

[2020-04-05 07:58] rzulian opened #7 "Minimum PSI for peristaltic pump"
Hey,
Do you know if there are a minimum requirements for the peristaltic pumps in terms of PSI?

[2020-04-17 14:51] rzulian opened #8 "Mean"
Ph and ORP  are defined as
[code]
But the there is a sensor.ph_mean : Shouldn't be `name: ph_mean`?

[2020-04-28 11:14] segalion commented on #6
I havent EC board, so I cant figure how this card is identified. Sensor module try to discover based on this:
[code]
that I found on the EZO instructions.

But I have seen that there are changes in the identification (i.e. D.O. or do). Maybe with 'ec' happens the same...
Please could you try changing sensor.py code with:

`               "e.c.": ['conductivity', "EC", 'mdi:alpha-c-circle']}`

[2020-04-28 11:18] segalion commented on #7
I think the required power of the pump depends on the height between the injection and subtraction ends. Keep in mind that it will only be injected when the pool pump is running, so the stream of water in the back line will help injecting liquids.

[2020-04-28 11:23] segalion commented on #8
ph_mean is an intermediate home assistant statistic sensor, that provides lots of main statiscits (mean, median, deviation, max, min, etc,
Its defined here:

- platform: statistics
    name: ph
    entity_id: sensor.ezo_ph
    max_age:
      minutes: 10
    # precision: 3

I use ph_mean (a sensor created in this statistics module) intead of real ezo_ph to minimice noise from the real sensor...

[2020-04-28 11:36] Nickous opened #9 "EZO Carrier board : isolated version or not ?"
Your work is awesome. Thank you so much for sharing it here.
I wonder about the EZO carrier bord...
Your link is about the non-isolated version. Even if you have more than one sensor (PH and ORP)?
Does the electrically isolated board worth the cost (40$ vs 19$!!) ?
Thank you for your possible feedback

[2020-04-28 12:32] segalion commented on #9
I am working with non-isolated boards. But I have to say I had a lot of problems with noise from ethernet card and bad PSU and usb power cable.

With a good quality PSU and cable, and no LAN connection I have good meassurements for pH and ORP.
Without isolation, you cant use ethernet. Only wifi.

The official information says that other measurements (I cant remember if DO or EC, isolation is oblig

[2020-04-28 15:41] Nickous commented on #9
As I intend to use lan connexion, isolation is more than recommended
Thanks @segalion for the fast reply and advice

[2020-04-28 15:41] #9 closed, assigned to nobody

[2020-04-29 09:25] docsparks commented on #6
I meant to update my comment.

Unless the EC probe is configured to only give back a numeric value, around line 110 of the sensor.py file, there is no error handling for any comma delimited data.

The EC probe gives multiple options for output, and the user must have the EC probe setup right to make the code not error out.

Thank you again for your work.

`r = self._read()`
`#self._state = float(r

[2020-05-11 22:45] socbrian commented on #4
I am having a hard time getting my head around how new water gets to the probes. The image [here](https://raw.githubusercontent.com/segalion/raspipool/master/help/media/raspipool_overview.png) seems like the sensors will get "dirty" water before the pump and then never have pressure because it is before the pump.

[2020-05-14 12:09] huehueteotl opened #10 "FC from ORP and PH calculation"
First of all thanks for a great project which I used for my own fork!
I use it with a Tentacle HAT from whiteboxes.ch, and modified your code to enable I2C (I can send you a pull req is you are interested; it should work for both serial and I2C sensors).

My question: what formula do you use for the estimated FC calculation from the ORP and pH values?
Of course I see it in your yaml but I'm having

[2020-05-22 06:43] Nickous commented on #10
Hi @huehueteotl
I'm about to choose pH and ORP module card.
I'm very interested in your solution with I2C protocol (and Tentacle T3 from whiteboxes.ch).
Is-it possible to share it?

[2020-05-22 18:38] huehueteotl commented on #10
Hi @Nickous
I have just committed my changes in my fork (https://github.com/huehueteotl/raspipool/commits/master) so you can see the changes.

It already works but there is (as usual) still some work to do: I also have two Atlas Ezo-pumps for pH and Cl liquids which I still have to connect which also use i2c.
Have fun ;-)

[2020-05-29 14:14] Nickous commented on #10
Thank you very much for your commits @huehueteotl .
It's really helpfull. I'm new in HA so I have so much to understand...

[2020-06-03 12:05] Jackk16 commented on #5
Hi Segalion,

Very promising solution!
I am getting prepared to try your solution for a automated pool control.  Like the other questions its hard to find how to connect the peristaltic pumps. Could you point out how that works, perhaps add it to the connection diagrams?

Regards,
Jack

[2020-06-05 09:12] rzulian commented on #10
I was looking for the same info. I think it's important also for safety matters that we document the source. I've understood also that he is working on thecCorrection of FC-ORP based on CYA.

[2020-06-15 11:53] ptomasroos commented on #10
Great work @huehueteotl making the HAT work.

I can definitely help out on going with your branch as I've bought the pieces my self and are about to get a system up and running with the same components as you!

[2020-06-20 13:53] tobiasneumann42 opened #11 "issues with pH and ORP probes"
good day,

having some strange problems with pH and ORP probe, when running each of them standalone readings are correct. the moment I connect them both the readings on both sensors go all over the place (pH claims readings like 1,2 something or 9,7 something, same for ORP level going down to 40 - 50 range from 400 something). Used the non-isolated versions and have them connected as specified in

[2020-06-21 08:53] tobiasneumann42 commented on #1
had the same issue, my home assistant is running on VMware and the Pi with the connected sensors located in a housing close to the pool. As suggested by @MimbaMonkeyHouse installed mosquitto mqtt broker on Pi. Python script on Pi sends sensor readings (have several temperature sensors, pH, ORP and pressure sensors) locally to the broker. Home assistant subscribes to these readings. Works pretty st

[2020-06-25 19:20] FirelightLokeren opened #12 "Control of heating valve"
Hi, I found your project very interesting.
I have experiance with domoticz but not with HA so it will be a HA learning proces.
I have a small question. Can you also control a 3 way valve for EPMD salor panels?

Kind regards
Koen

[2020-07-20 00:13] virgilm commented on #10
I am looking at the same solution (I2C based), I can help too. I forked my own [repo](https://github.com/virgilm/raspipool) from https://github.com/huehueteotl/raspipool/commits/master, as this one seems not maintained anymore.

Nice project!

[2020-07-25 09:12] nibi79 commented on #10
What is the current status of your forks?
Does anyone using  Ezo-pumps for pH and Cl now?

[2020-07-25 09:25] ptomasroos commented on #10
I haven’t started yet but starting to assemble the sensors

[2020-07-26 03:08] virgilm commented on #10
@huehueteotl - have you had to do pH sensor calibration? I am trying to do it via I2C, but can't figure out how. In particular, I would like to do it in the context of Home assistant. Any ideas?

@nibi79 I pushed some fixes to my repo, I'd be happy to push it back to this project or use mine/@huehueteotl's as a place to collaborate.

I have the whole PI + T3 + Sensors up and running.

[2020-07-26 10:08] huehueteotl commented on #10
@virgilm I calibrated my pH and ORP sensor on one of the old RPi2's I have lying around, using https://github.com/AtlasScientific/Raspberry-Pi-sample-code/blob/master/i2c.py

An option in HA would be nice, but I also have a lot to learn about YAML/Lovelace to be able to fix that ;-)

[2020-07-26 10:19] huehueteotl commented on #10
@nibi79 Ezo-pumps are configured for i2c but still laying around to be connected. It also requires quite some changes to the custom sensor.py to send the right commands to the pump. No time yet to play with that :-(

This being the first time we own an actual pool (it came with the house we recently bought) there is a lot to find out! I just finished replacing the big pool filter pump for the seco

[2020-07-29 13:58] 0u751d3r commented on #4
If you look at the diagram, the "sensor loop" is connected to both the suction AND pressure side of the pump (the latter is after the filter). Water will flow from the higher pressure toward the lower pressure, i.e. it will flow from the pump outlet back to its inlet, so it will always be clean water.

[2020-07-29 16:49] virgilm commented on #10
@huehueteotl - I merged a [PR](https://github.com/virgilm/raspipool/pull/9) to do sensor calibration. A bit awkward, due to me being new to HA and HA being... incomplete, but it works. Please check it out if you have time and feel free to improve it. I'd be curious to see if works for you too. I will continue to work on my repo, feel free to open issues there if needed.

[2020-08-07 23:15] viktor-c commented on #11
I think the problem is not in the code, but rather the fact that you are using unshielded sensors. This means that the readings get mixed up through the influence of the sensors on each other. You have to shield gnd or use a digital circuit.

[2020-08-16 11:26] nibi79 commented on #10
Is it possible to mount the relay and the tentacle both on the Pi?

[2020-08-17 07:45] huehueteotl commented on #10
sure, it is stackable and exposes all the pins on top of the board.
see https://www.whiteboxes.ch/wp-content/uploads/2016/12/143.png

![](https://www.whiteboxes.ch/wp-content/uploads/2016/12/143.png)

[2020-08-22 23:48] AhmedElsafi commented on #3
Did any one try to run the raspipool on openhab instead of HA

[2020-08-26 03:37] AhmedElsafi opened #13 "some issues"
I am trying to use the raspipool application, but running into issues with getting it going.  Also I don't see the customize.yaml file which the configuration.yaml calls for. Any assistance would be greatly appreciated.

Regards,

[2020-09-10 16:52] jgthornburgh opened #14 "Integration into existing HA Installation"
Is this able to be added into an existing installation of HA?

[2020-09-16 19:26] docsparks opened #15 "adding calibration options via service"
in an attempt to extend your original service, i have failed to figure out how to use the service to modify temperature, which is crucial to my setup.

I have posted on the homeassistant forums here:
[https://community.home-assistant.io/t/adding-input-parameters-to-a-custom-component-that-is-only-a-sensor/227281](url)

and have found a significant improvement of your original atlasscienetific cust

[2020-10-01 10:07] helix0712 opened #16 "Injector"
Hi,

appreciate your project! Started almost the same on ESP8266, running MQTT and NodeRed on a central Synology Docker Instance. Currently in the process of rewiring the prototype and mounting everything on DIN rails.
Your bypass looks nice and i will most probably use it in my installation. Now that i have pH, ORP and pump parts i was wondering how i would be able to inject the liquids (like PH

[2020-10-01 10:33] helix0712 commented on #11
Hi,

looking at the DFRobot example at https://www.dfrobot.com/blog-733.html we would probably need some of these:
https://www.dfrobot.com/product-1621.html to isolate signals from each other.

[2020-10-01 10:49] andyyyy2306 commented on #16
Hi Patrick,

could you share your Project on ESP8266 ?
Andyyyy

[2020-10-01 17:07] helix0712 commented on #16
I am working on a git repository...but it may take some more time

[2020-10-05 07:31] andyyyy2306 commented on #16
perfect ! thank you !

[2020-10-06 19:55] urbatecte commented on #11
Hi, good to read the hint.
I ran into the same issue, but I just went through new calibration (indeed it's more a characterization) to re-tune the pH reading with both probe in the water at the same time.
For pH it's seems to be OK (at least in the glasses with the pH powder). I'am using poor chinese pH/ORP probe as well as poor ph/orp meter electronic board.
I'am only using ESP Home for now, and

[2020-10-06 20:09] urbatecte commented on #10
Hi there !
Ouch, the formula is in the fc.yaml file [/packages/raspipool/fc.yaml](https://github.com/segalion/raspipool/blob/master/packages/raspipool/fc.yaml)
       value_template: "{{ ( 0.23 * (1 + states('input_number.e_fc_adjust')|float / 100 ) * ( 14 - states('sensor.ph_mean')|float) ** ( 1 / (400 - states('sensor.orp_mean')|float) ) * ( states('sensor.ph_mean')|float -4.1) ** ( ( states('se

[2020-10-07 06:29] huehueteotl commented on #10
Hey @urbatecte
Surely I saw the formula in the yaml ;-)
My question is where he got it from as there does not really seem to be an easy/straight relation between PH+ORP and FC.
It is just an approximation, which is fine, but in my case I do not get any values that make sense:
`(0.00027968614653875164+0.0015014854238866076j) ppm`
Must be something with the constants he is using but what?

[2020-10-07 08:38] segalion commented on #16
Sorry about so low level of support during last year...
To inject muriatic acid and bleach, you need a valve injection inside a collar attached to the returning pipe:
I will put the first spanish reference that I can found in Internet (please only for reference...)
Valve injection:
https://www.poolaria.com/collarines-de-toma-y-pinzas/647-collarin-de-toma.html#/2756-medida-o_50_x_
collar pipe:
http

[2020-10-07 09:12] segalion commented on #15
Hello. ezo cards can be calibrated with 'tty' interation acording to their documentation.

From my experience for this type of project the temperature correction (in the pH) is minimal, and only necessary in industrial processes with extremely expensive probes where a decimal is important.
I think that the calibration option for our cheap probes can be done perfectly with a Home Assistant sensor t

[2020-10-07 09:14] segalion commented on #14
Yes, following instructions...
I think now, project is some outdated (developed for 0.70-080 HA versions), and I dont know how it works on modern HA.
Sure it need a heavy revision...

[2020-10-07 09:21] segalion commented on #12
Probably, you could control everything you want with HA and proper remote controlled 3-way valve.
I figure you want to change the way of water between direct or solar panels in function of temperature pool, temperature panels, etc... to make an intelligent pool hotter. I think it goes out of scope of this project, but can be inetgrated in it.

One of the great of HA is that people can "easy" make

[2020-10-07 09:30] segalion commented on #11
Thanks.
Sure is a problem of "unshielded".
Please take into account that every connection to your system can make/traslate noise to the final probe...
1. Get the better PSU you can.
2. Get the better cable (USB) you can.
3. Dont connect any more things (NO ethernet, other sensors, etc.)
When you has good quiality (stable) measurements, you can try other sensors (i.e. I have a little USB mic connec

[2020-10-07 09:42] urbatecte commented on #11
Yeah, butI think that embedded ADC are quite sensitive to PSU noise.
I've then give up those ADC and switch to a [cheap ](https://fr.aliexpress.com/item/32825130324.html) ADS1115 and see quite great improvement.
Knowing that ESPHome support this chip it have been straightforward.

[2020-10-07 10:52] segalion commented on #10
First of all, sorry about the low support on last year.

You will not be able to find it anywhere, since it is its own creation (you can call it "Segalion´s formula"), trying to "emulate"
https://github.com/segalion/raspipool/wiki/FC-vs-ORP-and-pH
of recognized tables like:

https://www.servovendi.com/media/catalog/product/cache/b220f734dc818b42f97889a5ce33e7cb/c/o/correlation_between_ph_orp-redox

[2020-10-07 10:55] #8 closed, assigned to nobody

[2020-10-07 10:59] segalion commented on #5
Sorry, I think too I have to work more on documentate the injection part.

Even more, I think I have to make a global rewrite of all project. Could be great to include some hard-internal-parts passed to a custom component core, to change the illegible jinga2 parts for elegant python code.

About some questions:
The peristaltic:
I am working with cheap 12V peristaltic pumps, but I have to advert ab

[2020-10-07 11:37] segalion commented on #5
RPI2-3 has a second "limited" UART. To enable it, you have to...

Edit rpi config file with:
`
sudo nano /boot/config.txt`

including this:
[code]
Take into account that with rpi3, bluetooth uses the UART, so you have to disable it.

I think tha RPI4 has even 4 complete UARTs.

[2020-10-07 11:40] #7 closed, assigned to nobody

[2020-10-07 11:55] segalion commented on #11
Do you plan to create your own pH and ORP sensors with ESP32 device and ADS1115?
This could be really great, but its not easy...

Some aproach...
https://www.e-tinkers.com/2019/11/measure-ph-with-a-low-cost-arduino-ph-sensor-board/

[2020-10-07 12:00] segalion commented on #4
You are right. Probes are getting "clean" water (after the filter), as it is a recirculation system.
Note that this bypass has to be as low as possible to ensure it never runs dry (and probes "caput").

[2020-10-07 12:02] segalion commented on #4
I close this issue as it is solved by @0u751d3r

[2020-10-07 12:02] #4 closed, assigned to nobody

[2020-10-07 12:08] huehueteotl commented on #10
Thanks for your reply, that is helpful info and those tables are not really easy to find; at least I didn't find them last time ;-)

My pH and ORP are perfect (7.37 and 742 currently) but the FC gives a weird value so I will double check if all the sensor values used in the template are set correctly.

Closing this ticket to prevent too much off-topic stuff.

[2020-10-07 12:08] #10 closed, assigned to nobody

[2020-10-07 14:56] #2 closed

[2020-10-08 07:11] docsparks commented on #15
my use isnt for pools to be exact, and water temp at 68 , vs 86, does make a fair difference.   especially within calibration.
also my ezo ec probe has a different process to calibrate and set modes.

the ezo usb adapter is for sure my best use case, as i have a rpi0w, usb hub, and ph and ec usb ezo kits all assembled nicely with zero wiring and zero interface, just a few plug and play cables at m

[2020-10-08 15:32] virgilm commented on #15
I wrote a (quite basic for now) sensor calibration (backend + UI) for temp, ph mid point and orp - see https://github.com/virgilm/raspipool/blob/master/calibrate.py, but it only works with I2C sensors for now. Thanks for the project @segalion, I still have a lot of things that don't fully work.

[2020-11-11 00:36] matt-sullivan opened #18 "Question: Is ORP measurement reliable outdoors with CYA present?"
I'm considering building a raspipool system, but I've read that ORP measurement is [difficult](https://www.aquaticsintl.com/facilities/maintenance/understanding-orp-and-ppm_s) [in outdoor pools](https://www.troublefreepool.com/threads/why-are-cya-levels-lower-when-using-orp.13287/) with cyanuric acid buffering the chlorine levels.

Can anyone confirm how difficult / problematic ORP measurement is?

[2020-11-12 08:34] uclladt opened #19 "Question about the bypass for sensors"
Why have you placed the bypass for the sensors between de pump-input and the filter output ?
Is there a specific reason for that ?

In my case i would like to place the bypass sensors after the filter output.
Could it be a problem ?

[2020-11-12 09:09] segalion commented on #18
There is much controversy with ORP as a measure of free chlorine. In "European school" it is well accepted, even with CYA. The "American school" the ORP is not very well regarded.  I am not an expert, and I would refer you to professional forums for these types of questions.

From what I have been able to read and understand, the ORP is closer to what you really want to measure as "disinfection qu

[2020-11-12 18:13] segalion commented on #19
It is not the best place, because:
1- high flow of water can make meassurements not as good as in bypass with less flow. But some people reported good quality meassurement.
2- Maintenance. If you have to change probes, or you have a leak water... you have to close all circuit, and cant filter until fixed. With bypass, you can close it and work with main circuit as usual.
3- You have to ensure the

[2020-11-24 23:29] Lauriekr commented on #18
I agree with Segalion, ORP is a betterindicator of disinfection potential as long as the value is above 600mV than a chlorine residual if the pH is constant. The CYA stabilizes free chlorine but in doing so it is a less powerful oxidant, although CYA is an acid, it's very weak and has little effect on pH, temperature has a bigger effect on ORP readings butif temp is meansured it can be corrected i

[2020-11-27 03:41] matt-sullivan commented on #18
Thanks @segalion & @Lauriekr.

I understand the theory of ORP vs free chlorine but I was more concerned how practical ORP is for DIY automation (with CYA present.) I.e. Are the sensors accurate enough and the curves far enough apart to meaningfully monitor/control chlorine without reacting to noise more than real changes in water chemistry. (One of the links I included also mentioned CYA & ORP lev

[2020-11-27 03:41] #18 closed, assigned to nobody

[2020-11-27 11:28] Lauriekr commented on #18
I didnt raise any concerns because I dont know for sure, you're right to hold concerns because they could be factors. AllI would say is that ORPis a much more robust measurement technique that residual chlorine of pH. Good luck, I will be doing same in a fw months time so please keep us updated.

[2021-01-15 17:03] lucky79 commented on #1
@tobiasneumann42 Would you be willing to share more details please? I am trying to do the same, so it would help me a lot. Right now I only need it for pH and ORP, temps from 1wire sensors connected to UniPi Lite board and also relays are possible using the rest api. Thank you!

[2021-02-03 11:42] nagyrobi commented on #14
As far as I can see it can be easily implemented to any existing HA, without even needing any raspberry.

All the sensors and the relays can be connected to any ESP8266-based device running [Tasmota](https://tasmota.github.io/docs/EZO/), to just simply forward the data in. The configuration only needs to be updated to handle sensors through different protocols (like MQTT instead of raspbi's own po

[2021-02-03 12:00] nagyrobi opened #20 "Explanation please"
Can you please compile a short doc on the reasons how could this be useful, for someone not quite in clear how a pool automation works? Many people just have a small/medium pool with a pump running 24/7 and they measure chlorine and acid level by paper samples and just throw some chemicals in manually.

For them to understand why it's practical to use a system like yours, a short description of th

[2021-02-16 09:26] V4l3n10 commented on #14
Guys, is there a way to integrate it using Raspbi's GPIO's?
I am asking as I have all the setup already and the sensors are connected via a Tentacle T3 Hat on the RPI.

[2021-02-16 09:46] V4l3n10 commented on #1
@segalion, Have you ever had the chance to develop a version for I2C protocol for the Tentacle?

[2021-03-08 22:48] pilfos opened #21 "Compra material"
Hola,

No sabía como contactar así que abro una "issue" si te parece bien.

Podrías poner enlaces de dónde se puede comprar el material de "Atlas Scientific" (EZO pH/ORP circuit y carrier boards)?
Para que sirven los "carrier boards"?
Llegaste a probar algún sensor de este tipo para Arduino?
https://es.aliexpress.com/item/4000562124706.html?spm=a2g0o.productlist.0.0.1534440cHu1SQc&algo_pvid=c2495c

[2021-03-11 15:58] SiPhyLLC opened #22 "Using node-RED for the automation?"
**This is a fantastic project.**  I have most of the parts on order and can't wait to start the implementation myself.

   Not to criticize at all, but looking over, or modifying, all the various YAML scripts for the automation is not my strength.  I have written YAML, but it is hard for me to fully understand the flows.   I much prefer to use node-RED for automation.

 Has anyone looked into movi

[2021-03-11 17:49] virgilm commented on #22
I created a fork of this (https://github.com/virgilm/raspipool), and, even if it works fine, I found the same limitations you are worried about. I also tried to run appdaemon, which is ok, but still not perfect. I have to say, the main problem is HA itself, the project does not care about backward compatibility, debuggability and so on... besides the fact that there is no de-facto support for pyth

[2021-03-15 19:37] SiPhyLLC opened #23 "Atlas Scientific Tentacle T3"
Has anyone tried using this RPi HAT (Tentacle T3) [https://atlas-scientific.com/electrical-isolation/whitebox-labs-tentacle-t3/#](url) from Atlas Scientific?  I haven't yet explored if the connections are conflicting with the Relay Board or if the code would have issues.  It would make for a cleaner installation, and add an additional EZO location.

[2021-04-15 13:06] dmccabe79 opened #24 "Variable speed"
Let me tell you, this project is absolutely awesome looking. I see that support for variable speed pumps is on the Todo list. Have you made any headway with that? I just installed a Hayward variable speed pump and I use a salt cell system.

Those are the only 2 things holding me back. Huge congrats on this project though, fantastic.

[2021-04-25 11:43] spacyt opened #25 "EZO USB not working"
Hello,

i hope someone could help me.
I have bought some ezo usb for ph and orp.

I can see in dmesg the USB0 and USB1 with serial number. But in HASSIO i can't find anything. The sensors not working.
What can i do?

THX a lot
Klaus

[2021-05-28 18:55] huehueteotl commented on #23
Hi @SiPhyLLC, I use a T3 for my setup: see closed topic https://github.com/segalion/raspipool/issues/10

[2021-09-14 00:23] sddgit opened #26 "Probe placement question"
I’m not sure if anyone’s monitoring this project anymore, but here goes. Why are the sensors recommended to be installed in a “bypass” pipe? Can’t they just be installed in the existing pool plumbing?

[2021-09-14 02:38] Goose1451 commented on #26
Still here... I haven't installed my probes yet, but have planned the install.  And I had the same question as you.  I'm planning the install on my spa.  I'm planning to put the probes on the plumbing coming from the filters to the circulation pump so I am getting readings of water coming from the tub, rather than heated and going to the tub.

I honestly think the bypass is for ease of maintenance

[2021-09-14 02:40] SiPhyLLC commented on #26
I believe someone asked this before and the answer was that the water in
the main lines is turbulent and results in inaccurate measurement values.
The bypass slows down the flow and provides for better measurement accuracy.

Update:  see https://github.com/segalion/raspipool/issues/19

[2021-09-14 04:28] sddgit commented on #26
Oops, don’t know how I missed the other issue! I am tempted to try just on the “suction” pipe from my spa. Hopefully the pressure won’t be too overwhelming…

[2021-11-22 01:45] oylern commented on #26
Curious to hear if you had any issues adding the probes to your suction line or if it worked just fine. Any updates?

[2021-11-22 03:36] sddgit commented on #26
I'm still in the process! Got one working for a while in the normal pool plumbing, just after the filter. It worked for a little while, but then the Sonoff TH16 started to turn itself off. Took the probe out, and the wiring sleeve had been damaged during installation. I’ve ordered some new ones and will try again soon. I'll update then.

[2021-11-30 05:22] sddgit commented on #26
OK - it’s in the main suction line, and has been running fine for a couple of days. Temperature seems accurate and stable.

[2022-01-30 06:33] bbombek opened #28 "I know To little"
Hello!
Last year I went into this project. I bought all the BUM. Yesterday I did some progress and now I am stuck.
So I know to little on the programming side of RPI HA.
What I did...
SOlder the EZO circuits on carrier board, connected the thing per your scheme.
Installed HA operating system 64bit via this tutorial  https://www.home-assistant.io/installation/raspberrypi
Copied all the project file

[2022-01-30 16:58] virgilm commented on #28
Did you install HA as a container or via python venv? Either way, the custom component seems to be in the right place, assuming config directory is where your configuration.yaml lives.
Check if RPi can read from your sensor (https://files.atlas-scientific.com/pi_sample_code.pdf). Then if all that is correct, check your HA logs and post what you are seeing.

Adding this in your configuration.yaml m

[2022-01-30 18:54] danielegger1 commented on #23
Hi
I read through the other post, great work :)
did you had timeluck to implement the pumps with I2C?

[2022-01-31 16:23] huehueteotl commented on #23
Hi @danielegger1
Always nice to hear there are other people with the same interests 😄

As a matter of fact I abandoned this project mostly because of the (really) bad performance and stability of HA on the RPi!
Because I have a dedicated old Mac Mini running Ubuntu with HA to control the rest in the house, I opted for a lighter client in the pool and bought the Atlas Pool Kit (https://atlas-scient

[2022-01-31 17:48] danielegger1 commented on #23
Hi thanks for the quick reply :)
Good point, I looked originally into the Wifi kit, but thought doing it through the Pi is better, but purchasing the kit will allow me both ways, instead of the Tentacle I can wire the 4 Cables and can try both ways :)
Going through MQTT is something I have never worked with, but should be possible todo, I found some examples for Thingspeak (I think you mean going

[2022-02-01 15:43] bbombek commented on #28
Hello virgilm!
Thank you for the quick response.
Installed HA operating system 64bit via this tutorial https://www.home-assistant.io/installation/raspberrypi
So no raspberry pi OS
The atlas scientific pdf you sent i cannot get to the config (sudo raspi-config command) since it is a HA OS.
my configuration.yaml is like this so the debug for atlas scientific sensor is there.
Any suggestions or did I

[2022-02-01 16:18] virgilm commented on #28
Please format your file...
Well, that's because HAAS or HA OS or whatever is called nowadays is a joke! (at least on RPi). You can try [this](https://github.com/adamoutler/HassOSConfigurator) to make sure serial is configured. Send the logs (from your config/.home-assistant.log). Good luck!

[2022-02-01 18:10] bbombek commented on #28
Sorry for the format I copied and pasted it and that is what turned out :(
I edited the upper post.
So you suggest to install raspberry pi OS and then the HA container?

![image](https://user-images.githubusercontent.com/82860165/152025985-5a7c2f03-8672-40af-865b-2371364fea93.png)

here is the log.
[home-assistant.log](https://github.com/segalion/raspipool/files/7980875/home-assistant.log)

[2022-02-01 18:20] bbombek commented on #28
Hello again
This I dont find in the addon store on my HA OS. Maybe because it is not HAAS anymore?
Confused...
https://github.com/adamoutler/HassOSConfigurator

[2022-02-01 18:52] virgilm commented on #28
Can't clear that confusion for you, HA made it as hard as possible to figure it out... I'm not suggesting anything about HA, except that is evolving in the wrong direction (at least for this project).

You can fix your problem at hand by adding the following line to your custom_components/atlas_scientific/manifest.json
`  "version": "1.0.0",`. Another breaking change in HA - they don't care about

[2022-02-01 19:58] bbombek commented on #28
Hmm
tried the line nothing happened
I overwrote your fork put in the longitude and lattitude, pushbullet and weather APIs and now this happens
![image](https://user-images.githubusercontent.com/82860165/152041714-5759c928-ab64-4d9c-8270-ef44891eb233.png)

![image](https://user-images.githubusercontent.com/82860165/152041816-34ad7ee1-32d7-4dc7-9677-f5ae179b52ea.png)

Stuck here.
I want to write a t

[2022-02-01 20:05] virgilm commented on #28
Don't get my fork... it has some components that need more support, and I'm not sure I'm ready to support that fork :)

Just change your manifest file to read:
[code]

[2022-02-02 20:05] bbombek commented on #28
HMM i did that and still problems... the same

[2022-02-05 06:27] bbombek commented on #28
Does maybe anybody have the SD-card Image for raspberry that just works? Because I cannot get that to work.
PLEASE...!

[2022-02-05 16:50] virgilm commented on #28
I put up my latest working fork at https://github.com/virgilm/raspipool. Your sensors would have to be in I2C mode and the installation is not trivial. Good luck!

[2022-02-06 14:43] bbombek commented on #28
OK I will try this hope it works! How do I set sensors in I2C mode?
Thank you

[2022-02-09 17:12] CrociStrike030 commented on #23
Hi!
So if i understand correctly, the WiFi poolkit does everything by itself and can also control the filter pump and chlorine pump?

[2022-02-11 18:28] huehueteotl commented on #23
Hi @CrociStrike030,
Technically and theoretically yes: the Atlas WiFi poolkit can control everything.

But the basic code provided by Atlas (https://github.com/Atlas-Scientific/Ezo_I2c_lib/tree/master/Examples/IOT_kits/pool_kit) reads the sensors you've attached (pH, ORP and RTD) and published the values to thingspeak.com using MQTT.
It can control one pump based on the pH value and static thresho

[2022-03-11 14:54] camaro4life18 commented on #13
Hello, I'm going through the installation myself. It's not the clearest in the instructions, but you should comment out the customize.yaml line in the configuration.yaml.

[2022-06-12 16:31] lluis4l opened #29 "injection regulation"
Hi,
I'm building your project but I have some questions:
My configuration is ESP8266 to manage all system with ( PH + ORP ) sensors + 2 relays for injections ( motor control+temperature I've already contected it before ), I use Home assistant to manage whole house and for the swimming pool I do it as well.

I don't really understand how do you manage the injection, As I can see is it possible you

[2022-07-09 07:36] YannGranger opened #30 "Bypass probe"
Hi,
Very interesting project. I was wondering why do you have to have a bypass for the probe.
can’t they be installed in line on the existing pipes ?
Thanks

[2022-07-09 07:39] YannGranger commented on #30
Sorry this topic has already been covered in previous issue.
i close the issue

[2022-07-09 07:39] #30 closed, assigned to nobody

[2022-07-09 07:40] SiPhyLLC commented on #30
Oops!  Sent to soon.

The branch also makes it easy to replace the probes as you can isolate the
branch from the rest of the system by closing off valves on both ends of
the branch.

On Sat, Jul 9, 2022 at 9:38 AM Dan Schumacher ***@***.***> wrote:

[2022-07-12 19:33] obert0 commented on #15
I make some search and I was wondering if the official calibration method for ezo board are quite the same as the sensor filter from Homeassistant?

[2022-07-18 01:58] blacknacoustic opened #31 "SWC- Salt Water"
Hey has anyone done any work with this? I'm interesting in building and testing this was just trying to see what was needed to add this to the project?

[2022-09-26 02:28] Brikpilot opened #32 "Specifics on Plumbing fittings"
Hi
I am uncertain on some of the plumbing parts to be used.

One is solved for Tee pieces, they are called Hough Section Connectors.  (some countries may not use these)
https://www.aliexpress.com/item/4000540605421.html?spm=a2g0o.cart.0.0.2bc938da0YTkZV&mp=1

Can anyone help with what to mount the sensors in please as the plumbing  downstream of the pump comes under rather high pressures.  This wi

[2022-09-26 03:00] STELTZ-MANIA commented on #32
Hi,

The parts I used to mount the probes are:

PVC Pressure Faucet Tee
https://www.holmanindustries.com.au/product/pvc-pressure-faucet-tee/

and a Cable gland like this:
https://www.voltexelectrical.com.au/p-3057-nylon-cable-gland-20mm-cable-od-7-14mm-25-pack.aspx

I only finished the plumbing 3 days ago but so far there are no noticeable leaks and should be easy to replace in the future.

Regard

[2022-09-26 05:46] Brikpilot commented on #32
Thanks very much for the details.  The cable gland was what I could not figure (from online data) to match pipe thread to sensor diameter and be snug and leak free under pressure. Also great to see an example (and presumably in Oz based on Deta & Holman brands) :-)

Wiring on LHS of filter, is that a temperature sensor?  I note you have  a third tee piece for a sensor, You could use this  for temp

[2022-09-26 06:03] STELTZ-MANIA commented on #32
The wiring on the LHS of the filter is for the WiFi adaptor for the Heater. This has never worked for me and is currently disconnected. One day I will disconnect the cable from the heater as well. Yes indeed, the third T-piece will be for a DS18B20 temp sensor, there is also a 4th T-Piece on the return line to the pump which is out of site where there will be another DS18B20 so that I can see the

[2022-10-11 07:00] SiPhyLLC commented on #30
There is generally too much turbulence in the main line to get accurate
measurements.  Having a branch creates a less turbulent path and more
steady probe measurements.

On Sat, Jul 9, 2022 at 9:36 AM YannGranger ***@***.***> wrote:

[2022-11-10 23:25] cloudbr34k84 opened #33 "Free Chlorine Sensor"
I already have sensor that that are calculating the Temp, pH and ORP.

I'm trying to understand your FC sensor and struggling to understand how the template. What does the ```('input_number.e_fc_adjust')```

I dont know what the FC is, hence i was hoping this template would give me that? What am i missing?

[code]